
@{
    ViewBag.Title = "Editar";
}

<h2>Editar Carro</h2>

<form action="SalvarEdicao" method="post">
    <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" id="Marca" name="Marca" value="@ViewBag.Carro.Marca" readonly />
    </div>

    <div class="form-group">
        <label for="cilindrada">Cilindrada</label>
        <input type="text" class="form-control" id="Cilindrada" name="Cilindrada" value="@ViewBag.Carro.Cilindrada" />
    </div>
    <div class="form-group">
        <label for="QuantidadeDePortas">Quantidade de portas</label>
        <input type="text" class="form-control" id="QuantidadeDePortas" name="QuantidadeDePortas" value="@ViewBag.Carro.QuantidadeDePortas" />
    </div>
    <div class="form-group">
        <label for="Cor">Cor</label>
        <input type="text" class="form-control" id="Cor" name="Cor" value="@ViewBag.Carro.Cor" />
    </div>
    <div class="form-group">
        <label for="Fabricante">Fabricante</label>
        <input type="text" class="form-control" id="Fabricante" name="Fabricante" value="@ViewBag.Carro.Fabricante" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Salvar" />
    </div>
</form>

